# ============================================================
# PixelLink
# ============================================================

# CMake
build/
out/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

CMakeUserPresets.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache

# C / C++
*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.pch

# Build configurations
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
x86/

# Tests
Testing/
TestResults/

# Visual Studio cache
ipch/
*.VC.db
*.VC.VC.opendb
*.opendb

# Game Boy ROM / save files
*.gb
*.gbc
*.sav

# Temporary files
*.tmp
*.log
*.bak
*~
~$*
ProjectStructure.txt

# OS
.DS_Store
Thumbs.db